<html>
  <head>
    <title>Чек по заказу</title>

  </head>
  <body>
    <h1>Спасибо за заказ на нашей площадке CoffeeShop!</h1>

    <ul>
      Список заказанных вами товаров:

      {{#each products}}
        <li>
          {{this.label}} {{this.count}} шт. - {{this.price}} Р
        </li>
      {{/each}}
    </ul>

    <p>
      Общая сумма заказа: {{price}}
    </p>

    {{#if discount}}
    <p>Ваша скидка: {{discount}}%</p>

    <p>
      Сумма заказа с учетом скидки: {{discountPrice}}
    </p>
    {{/if}}
  </body>
</html>